// ****************************************************************************
//  _config
// ****************************************************************************
$text-color             : #34495e;
$text-color-lighter     : #95a5a6;

$bg-page                : #fff;
$bg-button              : #34495e;
$bg-button-hover        : #2c3e50;

$border-page-lead       : #ecf0f1;
$border-drop-area       : #95a5a6;
$border-drop-area-hover : #bdc3c7;

// ****************************************************************************